{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Analisis</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for analisis in analises %}
            <tr>
                <td><a href="{{ path('analisis_show', { 'id': analisis.id }) }}">{{ analisis.id }}</a></td>
                <td>{{ analisis.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('analisis_show', { 'id': analisis.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('analisis_edit', { 'id': analisis.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('analisis_new') }}">Crear nuevo Analisis</a>
        </li>
    </ul>
{% endblock %}
