{% extends 'base.html.twig' %}

{% block body %}
    <h1>Analisis</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ analisis.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ analisis.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('analisis_index') }}">Volver a la lista</a>
        </li>
        <li>
            <a href="{{ path('analisis_edit', { 'id': analisis.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
